@import "tailwindcss";

@theme {
  --font-f1: "Formula1 Display-Regular", sans-serif;
  --font-body: "Titillium Web", sans-serif;
  --color-red: #f7051d;
}

@layer base {
  body {
    @apply font-body;
  }
  h1,
  h2,
  h3 {
    @apply font-f1;
  }
}
